* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    max-height: 1200px;
    margin: auto;
}

.cell {
    width: calc(100% / 10);
}

#btn-container {
    display: flex;
    justify-content: center;
}

#btn-create {
    
}